<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   favorites.plist
   Project2

   Created by Rulev, Alec on 3/29/18.
   Copyright (c) 2018 Egger, Sean. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
